
body {
    width: 100%;
    height: 100%;
    background-image: url('back.jpg');
    background-size: 100%;
    /* border: 1px solid purple; */
    background-repeat: no-repeat;
    color: aliceblue;
  } 
    .abc{
      background: burlywood;
      color: aqua;
    }

